<div>
  <h1>Message Feed</h1>
  {% if message_list %}
  <ul>
    {% for message in message_list %}
    <li>
      <span> {{message.formatted_date}} -- </span>
      <a href="{% url 'linker:message_detail' message.id %}"
        >{{message.message_title}}
      </a>
      <div>Votes: {{message.votes}} | Comments: {{message.comments_num}}</div>
    </li>
    <form action="{% url 'linker:vote' message.id%}" method="post">
      {% csrf_token %}
      <button type="submit" name="upvote">Upvote</button>
      <button type="submit" name="downvote">Downvote</button>
    </form>
    {%endfor%}
  </ul>
  {%endif%}
</div>
<div>
  <h1>Add a message</h1>
  <form action="{% url 'linker:add_message'%}" method="post">
    {% csrf_token %}
    <div>
      <label for="message_title">Title</label>
      <input type="text" name="message_title" />
    </div>
    <br /><br /><br />
    <div>
      <label for="message_text">Message</label>
      <textarea type="text" name="message_text" rows="5" cols="50"></textarea>
    </div>
    <br /><br /><br />
    <input type="submit" />
  </form>
</div>

<div>
  <div><a href="{% url 'linker:about'%}">About</a></div>
  <div><a href="{% url 'linker:contact'%}">Contact</a></div>
</div>
