<div>{{message.formatted_date}}</div>
<h1>{{message.message_title}}</h1>
<p>{{message.text_content}}</p>
<div>Votes: {{message.votes}} | Comments: {{comments_num}}</div>
{% if comments_num > 0 %}
<ul>
  {%for comment in comments%}
  <li>
    <p>{{comment.text_content}}</p>
    <div>{{comment.formatted_date}} | {{comment.votes}} votes</div>
  </li>
  {%endfor%}
</ul>
{%endif %}
<div>
  <h1>Add comment</h1>
  <form action="{% url 'linker:add_comment' message.id%}" method="post">
    {% csrf_token %}
    <textarea name="comment" id="" cols="30" rows="10"></textarea>
    <br /><br />
    <input type="submit" />
  </form>
</div>
